<?xml version="1.0"?>
<config>
  <modules>
    <Prscreative_LoveKingMemory>
      <version>0.1.0</version>
    </Prscreative_LoveKingMemory>
  </modules>
  <global>
    <helpers>
      <lovekingmemory>
        <class>Prscreative_LoveKingMemory_Helper</class>
      </lovekingmemory>
    </helpers>
    <blocks>
      <lovekingmemmory>
        <class>Prscreative_LoveKingMemory_Block</class>
      </lovekingmemmory>
    </blocks>
  </global>
  <frontend>

    <events>
      <core_block_abstract_to_html_after>
        <observers>
          <love_king_memory>
            <class>Prscreative_LoveKingMemory_Model_Observer</class>
            <method>alterBlockHtml</method>
          </love_king_memory>
        </observers>
      </core_block_abstract_to_html_after>
    </events>

    <layout>
      <updates>
        <lovekingmemory>
          <file>prscreative/lovekingmemory.xml</file>
        </lovekingmemory>
      </updates>
    </layout>

  </frontend>
</config> 
